.container {
	max-width: var(--width);
	margin-inline: auto;

	&.sm {
		--width: 65rem;
		padding-inline: 2.4rem;
	}

	&.md {
		--width: 90rem;
	}

	@media (max-width: 900px) {
		padding-inline: 2.4rem;
	}
}
