@import 'base';

html {
	font-size: 62.5%;
	font-family: $font;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-size: 1.8rem;

	&::-webkit-scrollbar {
		display: none;
	}
}

input,
button {
	font: inherit;
	outline: none;
	border: none;
}

a:link,
a:active {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
}

.app {
	min-height: 100vh;
	padding-block: 9.6rem;

	background-image: linear-gradient(
			to right bottom,
			rgba(255, 255, 255, 0.2),
			rgba(255, 255, 255, 0.3)
		),
		url('../assets/home-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container {
	max-width: 65rem;
	margin-inline: auto;
	padding-inline: 2.4rem;
}
